<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <!-- Add "active" class when you're on that page" -->
        <a class="nav-link active" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item" *ngIf="condition">
        <a class="nav-link" href="" [routerLink]="['/new-article']">
          <i class="ion-compose"></i>&nbsp;New Post
        </a>
      </li>
      <li class="nav-item" *ngIf="condition">
        <a class="nav-link" [routerLink]="['/setting']">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>
      <li class="nav-item" *ngIf="!condition">
        <a class="nav-link" [routerLink]="['/signup']">Sign up</a>
      </li>

      <li class="nav-item" *ngIf="!condition">
        <a class="nav-link" [routerLink]="['/signin']">Sign in</a>
      </li>
      <li class="nav-item father" *ngIf="condition"
      routerLink="/{{profile.user.username}}">
        <img src="{{ profile.user.image }}" alt="" />
        <a class="nav-link" >{{ profile.user.username }}</a>
      </li>
    </ul>
  </div>
</nav>
