<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/signin']">Have an account?</a>
        </p>

        <ul class="error-messages name">
          <li *ngFor="let errName of errors?.error.errors.username">username {{ errName }}</li>
        </ul>
        <ul class="error-messages email">
          <li *ngFor="let errEmail of errors?.error.errors.email">email {{ errEmail }}</li>
        </ul>
        <ul class="error-messages password">
          <li *ngFor="let errPassword of errors?.error.errors.password">password {{ errPassword }}</li>
        </ul>

        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Your Name"
              formControlName="userName"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="email"
              placeholder="Email"
              formControlName="email"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="password"
              placeholder="Password"
              formControlName="password"
            />
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" type="submit" >
            Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
