<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img src="{{ profileInfo?.image }}" class="user-img" />
          <h4>{{ profileInfo?.username }}</h4>
          <p>
            {{ profileInfo?.bio }}
          </p>
          <div>
            <button
              class="btn btn-sm btn-outline-secondary action-btn"
              [routerLink]="['/settings']"
              *ngIf="profileInfo?.username == isUser()"
            >
              <i class="fas fa-cog"></i>
              &nbsp; Edit Profile Setting
            </button>
            <button
              class="btn btn-sm btn-outline-secondary action-btn"
              *ngIf="!(profileInfo?.username == isUser())"
              [disabled]="!isUser()"
            >
              <i class="fas fa-cog"></i>
              &nbsp;
              <span
                *ngIf="profileInfo?.following"
                (click)="unfollowUser(profileInfo)"
                >Unfollow</span
              >
              <span
                *ngIf="!profileInfo?.following"
                (click)="followUser(profileInfo)"
                >Follow</span
              >
              User
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a
                class="nav-link"
                (click)="myArticleLoad()"
                [ngClass]="{ active: !condition }"
                >My Articles</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                (click)="myFavouriteLoad()"
                [ngClass]="{ active: condition }"
                >Favorited Articles</a
              >
            </li>
          </ul>
        </div>
        <p id="notis" *ngIf="empty">No articles to display...</p>
        <div *ngFor="let article of articles">
          <app-articles [article]="article"></app-articles>
        </div>
        <div class="sidebar">
          <div class="tag-list" *ngFor="let p of pagiList">
            <a (click)="getnewpagi(p)" class="tag-pill tag-default">{{ p }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
