<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
          <div class="feed-toggle">
              <ul class="nav nav-pills outline-active">
                <li class="nav-item">
                  <a class="nav-link" (click)="onChange($event.target.textContent)" [ngClass]="{active: condition}" *ngIf="loggedIn">Your Feed</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="onChange($event.target.textContent)" [ngClass]="{active: !condition}">Global Feed</a>
                </li>
              </ul>
            </div>
            <!-- <app-global-feed *ngIf="!condition"></app-global-feed>
            <app-your-feed *ngIf="condition"></app-your-feed> -->
              <!-- <div [hidden]="loaded">Loading...</div> -->
            <!-- <div class="article-preview" *ngFor="let article of articlesList?.articles">
              <div class="article-meta" >
                <a routerLink="{{ article.author.username }}">
                    <img src="{{article.author.image}}"
                    />
                </a>
                <div class="info">
                  <a routerLink="{{ article.author.username }}" class="author">{{ article.author.username }}</a>
                  <span class="date">{{ article.createdAt | date: 'fullDate' }}</span>
                </div>
                <button class="btn btn-outline-primary btn-sm pull-xs-right"
                appDebounceClick
                (debounceClick)="onToggleFavorite(article)"
                [ngClass]="{'like': article.favorited}">
                  <i class="ion-heart"></i> {{ article.favoritesCount }}
                </button>
              </div>
              <a class="preview-link"  routerLink="/article/{{ article.slug }}">
                <h1>{{ article.title }}</h1>
                <p>{{ article.description }}</p>
                <span>Read more...</span>
              </a>
            </div> -->

            <div *ngFor="let article of articlesList?.articles">
              <app-articles [article]="article"></app-articles>
            </div>

      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <app-tag></app-tag>
        </div>
      </div>
    </div>
  </div>
</div>
